<div class="container-fluid">
  <div class="row">
<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4 color=accent" backgroundColor="accent">
  <section id="emergency">
  <mat-tab label="SHOP EMERGENCY CONTACT1">
    <h2>EMERGENCY CONTACT</h2>
    <p>ADDRESS: Main-Shop</p>
    <p>ISI TEXTILE, General Sani Abacha Stadium, <br>
        No. 489 DAN AGO PLAZA OPP, UBA BANK PLAZA KANTIN KWARI
        <br>KANO, KANO STATE, <br>
        NIGERIA
    </p>
    <h4>CONTACT NUMBER: +2348061214583</h4>
    <h4><a href= "mailto: name@email.com">Abubakarkabiru2025&#64;gmail.com</a></h4>
  </mat-tab>
</section>
    <mat-tab label="TECHNICAL EMERGENCY CONTACT2">
      <section id="emergency">
      <h2>EMERGENCY CONTACT 2</h2>
      <p>ADDRESS:</p>
      <p>ISI TEXTILE, General Sani Abacha Stadium
      </p>
      <h4>CONTACT NUMBER: +2348187166115</h4>
      <h4><a href= "mailto: name@email.com">Samirdanmari9&#64;gmail.com</a></h4>
    </section>
    </mat-tab>
</mat-tab-group>
</div>
</div>
